<div id="form-container" class="container shadow-lg text-center">

    <h1 class="display-6 text-center mt-2">About Noteriety</h1>
    <p class="lead my-4">Discover your potential by taking better notes</p>
    <div class="px-5 text-start">
        <p>Based on the Cornell Notes system introduced by Walter Pauk in the 1940s, Noteriety utilizes the iconic "two-column" method, which divides your note-taking between main content and key points. Regardless of whether or not you're a skilled note taker, it can be challenging for anyone to consistently organize their thoughts during a teaching, lecture, or just everyday life. Diligently writing things down is only half the process: your notes must clearly address the key take-aways in an easy-to-read format.</p>

        <p>Noteriety not only makes it easy to write notes, it also allows you to review past notes in an organized and efficient manner. Notes can be divided up into subjects of your choice with the ability to revisit entries in a particular category as well as search for specific topics. When creating a new note, you will be able to write a summary at the end detailing what you've learned, what key points to remember, and any potential questions you may still have. Notes here are MEANT to be constantly revisited and edited.</p>

        <p>I created this website to be a simple, pleasant environment to manage your thoughts. In time, organized thoughts lead to life-long habits. Whether you're a driven college student, avid writer, or simply looking for a place to jot down recipe ideas, Noteriety provides a modest workspace for you to organize your ideas, ask insightful questions, and reinforce your learning process.</p>
    </div>
</div>