<div class="container text-center">
    <h1 class="display-5 my-4">Subjects</h1>
    <% if current_user.subjects.uniq.length == 0 %>
        <h4>No subjects yet to display!</h4>
    <% end %>
    <div class="row justify-content-center">
        <% current_user.subjects.uniq.each do |s| %>
            <div class="col-md-5">
                <div class="card text-center shadow-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title display-6 mb-2"><%= link_to s.name, subject_path(s) %></h5>
                        <% i = 0 %>
                        <ol>
                            <% while i < 3 && i < s.notes.length %>
                                <li><%= link_to s.notes[i].topic, note_path(s.notes[i]) %></li>
                                <% i += 1 %>
                            <% end %>
                        </ol>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="row justify-content-center text-center my-5">
        <div class="col-lg-1"></div>
        <%= link_to "Create New Note", new_note_path, class: 'btn btn-outline-success col-6 col-md-3 btn-block' , id: 'form-button' %>
        <div class="col-md-auto"></div>
        <%= link_to "Home", root_path, class: 'btn btn-outline-info col-6 col-md-3 btn-block', id: 'form-button' %>
        <div class="col-lg-1"></div>
    </div>

</div>