/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar.navbar-expand-md.navbar-dark {
    font-size: 1.2rem;
    background-color: #b08968;
    text-shadow: 0.2px 0 0 #d1d1d1, 0 -0.2px 0 #d1d1d1, 0 0.2px 0 #d1d1d1, -0.2px 0 0 #d1d1d1;
    opacity: 0.8;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #b08968;
    border: none;
    /* z-index: 1; */
}

.dropdown-item {
    color: #ffffff; 
    font-weight: 200;
}

a {
    color: #b85c3a;
    text-decoration: none;
}

a:hover {
    color: #e2a58f;
}

#carousel-p {
    font-size: 1.4rem;
    font-weight: 300;
}

.carousel-item {
    opacity: 0.8;
    width: 100%;
    height: 440px;
    font-size: 1.3rem;
    background-size: contain;
    /* z-index: -1; */
}

.blockquote p {
    font-size: 1.8rem;
}

.blockquote-footer {
    font-weight: 400;
    color: #ffffff;
}

a#create-btn.btn.btn-outline-success {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    border-radius: 16px;
    margin: 1.9rem;
    color: #ddb892;
    background-color: #ffffff;
    border-color: #ddb892;
    box-shadow: 0.2em 0.2em 0.2em #ddb892;
    padding: 0.2rem 0.6rem;
    outline: none;
}


@media (max-width: 992px) {
  a#create-btn.btn.btn-outline-success {
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
  }
}

@media (max-width: 850px) {
  a#create-btn.btn.btn-outline-success {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media (max-width: 640px) {
  a#create-btn.btn.btn-outline-success {
    font-size: 0.9rem;

  }
}

a#create-btn.btn.btn-outline-success:hover {
    border: 1px solid #dfab78;
    color: #dfab78;
    /* font-weight: bold; */
    transform: scale(0.9, 0.9);
    box-shadow: 0.5em 0.5em 0.5em #ddb892;
    transition: all 0.4s;
    cursor: pointer;
}

.blockquote-footer {
    font-size: 1rem;
}

.carousel-caption {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

img {
    max-width: 100%;
    background-size: contain;
}