/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: 100vh;
}

/* .push {
    height: 88px;
} */

#note-list {
    font-size: 1rem;
}

h1.display-5 {
    font-weight: 200;
    font-size: 3em;
    color: #7F553A;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

p.lead {
    font-size: 1.6rem;
}

.navbar.navbar-expand-md.navbar-dark {
    font-size: 1.2rem;
    font-weight: 300;
    color: #e1e1e1;
    background-color: #ddb185;
    /* text-shadow: 0.2px 0 0 #d1d1d1, 0 -0.2px 0 #d1d1d1, 0 0.2px 0 #d1d1d1, -0.2px 0 0 #d1d1d1; */
    /* opacity: 0.8; */
}

.navbar.navbar-expand-md.navbar-dark a:hover {
    color: #ffffff;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #ddb185;
    border: none;
    z-index: 1;
}

.dropdown-item {
    color: #fff; 
    font-weight: 200;
}

a.dropdown-item:hover {
    color: #000 !important;
}

a.dropdown-item:active {
    color: #000;
    background-color: #fff;
}

#logout:focus {
    outline: none;
    background-color: #fff;
}

#logout:active {
    color: #000;
    background-color: #fff;
}

a {
    color: #b66649;
    text-decoration: none;
}

a:hover {
    color: #e2a58f;
}

i.far.fa-edit.ms-2 {
    color: #b85c3a;
}

#carousel-p {
    font-size: 1.4rem;
    font-weight: 300;
}

.carousel-item {
    opacity: 0.8;
    width: 100%;
    height: 466px;
    font-size: 1.3rem;
    background-size: contain;
    z-index: -1;
}

.blockquote p {
    font-size: 1.8rem;
}

.blockquote-footer {
    font-weight: 400;
    color: #ffffff;
}

input#search-bar {
    position: relative;
    top: 6px;
    height: 40px;
    margin-bottom: 0.6rem;
}

input#search-btn.btn.btn-outline-success {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.3em;
    border-radius: 20px;
    margin-bottom: 1rem;
    color: #e2ae79;
    background-color: #ffffff;
    border-color: #ddb892;
    box-shadow: 0.2em 0.2em 0.2em #ddb892;
    padding: 0.7rem 2rem;
    outline: none;
}

input#search-btn.btn.btn-outline-success:hover {
    border: 1px solid #dfab78;
    color: #000;
    transform: scale(0.8, 0.8);
    box-shadow: 0.5em 0.5em 0.5em #ddb892;
    transition: all 0.4s;
    cursor: pointer;
}

#mobile-text h1 {
    font-weight: 200;
    font-size: 1.6em;
    color: #7F553A;
}

#mobile-text p {
    font-weight: 200;
    font-size: .8em;
    color: #7F553A;
}

a#create-btn.btn.btn-outline-success {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    border-radius: 16px;
    margin: 1.3rem;
    color: #ddb892;
    background-color: #ffffff;
    border-color: #ddb892;
    box-shadow: 0.2em 0.2em 0.2em #ddb892;
    padding: 0.2rem 0.6rem;
    outline: none;
}


@media (max-width: 992px) {
  a#create-btn.btn.btn-outline-success {
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
  }
  input#search-btn.btn.btn-outline-success {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.4em;
  }
  td.td-title {
      font-size: 1.2rem;
  }
}

@media (max-width: 850px) {
  a#create-btn.btn.btn-outline-success {
    font-size: 1.2rem;
    font-weight: 300;
  }
  td.td-title {
      font-size: .9rem;
  }
}

@media (max-width: 640px) {
  a#create-btn.btn.btn-outline-success {
    font-size: .8rem;

  }
}

a#create-btn.btn.btn-outline-success:hover {
    border: 1px solid #dfab78;
    color: #dfab78;
    /* font-weight: bold; */
    transform: scale(0.9, 0.9);
    box-shadow: 0.5em 0.5em 0.5em #ddb892;
    transition: all 0.4s;
    cursor: pointer;
}

.blockquote-footer {
    font-size: 1rem;
}

.carousel-caption {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

img {
    max-width: 100%;
    background-size: contain;
}

#form-container.container {
    background-color: #ffffff;
    color: #7f5539;
    margin-top: 2.2em;
    width: 80%;
    height: 10%;
    border-radius: 8px;
    border: 2px solid #ddc1a4;
    padding: 20px;
    font-size: 1.1rem;
}

.form-group {
    padding: 0.5em 0;
}

#form-button {
    color: #000;
    font-size: 1em;
    font-weight: 200;
    padding: .8rem 1.6rem;
    margin: 10px auto; /* Added */
    float: none;
    background-color: #ffffff;
    border-color: #83c5be;
    border-radius: 20px;
    box-shadow: 0.2em 0.2em 0.2em #83c5be;
}

#form-button:hover {
    border: 1px solid #83c5be;;
    color: #000;
    /* font-weight: bold; */
    transform: scale(0.9, 0.9);
    box-shadow: 0.5em 0.5em 0.5em #83c5be;;
    transition: all 0.4s;
    cursor: pointer;
}

#form-button.btn-outline-info {
    border-color: #dfab78;
    box-shadow: 0.2em 0.2em 0.2em #ddb892;
}

#form-button.btn-outline-info:hover {
    box-shadow: 0.5em 0.5em 0.5em #ddb892;
}

#form-button.btn-white {
    border-color: #e56b6f;
    box-shadow: 0.2em 0.2em 0.2em #e56b6f;
}

#form-button.btn-white:hover {
    box-shadow: 0.5em 0.5em 0.5em #e56b6f;
}

#login-button {
    color: #000;
    font-size: 1em;
    font-weight: 200;
    padding: 0.8rem 1rem;
    margin: 10px auto; /* Added */
    float: none;
    background-color: #ffffff;
    border-color: #83c5be;
    border-radius: 20px;
    box-shadow: 0.2em 0.2em 0.2em #83c5be;
}

#login-button:hover {
    border: 1px solid #83c5be;;
    color: #000;
    /* font-weight: bold; */
    transform: scale(0.9, 0.9);
    box-shadow: 0.5em 0.5em 0.5em #83c5be;;
    transition: all 0.4s;
    cursor: pointer;
}

h4.alert-heading {
    font-size: 1.4rem;
}

.alert.alert-success {
    font-size: 1rem;
    background-color: #acf0e1;
    color: #006d77;
}

.alert.alert-danger.alert-dismissible.fade.show {
    font-size: 1rem;
    background-color: #f7ede2;
    color: #f07774;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        font-size: 1rem;
}

.card-body h5 a {
    color: #000;
    font-size: 2rem;
}

.card-body h5 a:hover {
    color: #000;
    opacity: 0.6;
}

img#profile-img {
    margin: 20px auto;
    width: 200px;
    border-radius: 50%;
    border: 1px #dfab78 solid;
}

.blockquote p {
    font-size: 1.8rem;
}

.blockquote.about p {
    font-size: 1rem;
}